<html>
    <head>
        <title><%= title %>></title>
    </head>
    <body>
        <h1><%= message %></h1>
        <% for(let i = 0; i < 10; ++i) { %>
            <h2><%= i+1 %>번</h1>
        <% } %>
    </body>
</html>
