<html>
	<head>
		<title>main</title>
	</head>
	<body>
		<h1><%= message %></h1>
		<% for(let i = 0; i < 10; ++i) { %>
			<h2><%= i+1 %>번</h1>
		<% } %>

		<% if(session.loggedIn) { %>
			<a href="./logout">로그아웃</a>
		<% } else { %>
			<a href="./login">로그인</a>
		<% } %>
	</body>
</html>
