<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>test ejs file</title>
</head>
<body>
	<h1>Simple Memo</h1>
	<% rows.forEach((row, index) => { %>
		<tr>
			<td><%= row.username %></td>
			<td><%= row.email %></td>
			<br>
		</tr>
	<% }) %>
</body>
</html>
